{% extends 'CoreBundle::layout-form.html.twig' %}


{% block title %}Êtes-vous sûr de vouloir supprimer cette facture ?{% endblock %}
{% block main %}
<a href="{{ path('gs_bill_view', {'id': id}) }}"><button type="button" class="btn btn-outline-primary">Annuler</button></a>
<a href="{{ path('gs_bill_delete', {'id': id}) }}"><button type="button" class="btn btn-outline-danger">Supprimer</button></a><br>

{% endblock %}
