/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/srv/var/*
!/srv/var/cache
/srv/var/cache/*
!srv/var/cache/.gitkeep
!/srv/var/logs
/srv/var/logs/*
!srv/var/logs/.gitkeep
!/srv/var/sessions
/srv/var/sessions/*
!srv/var/sessions/.gitkeep
!srv/var/SymfonyRequirements.php
srv/vendor/
*.sh
