{% extends 'CoreBundle::layout.html.twig' %}

{% block body %}
<h4>Êtes-vous sûr de vouloir supprimer ce questionnaire ?</h4>
<a href="{{ path('gs_feedback_fb_view', {'setId': setId, 'fbId': id}) }}"><button type="button" class="btn btn-outline-primary">Annuler</button></a>
<a href="{{ path('gs_feedback_fb_delete', {'setId': setId, 'id': id}) }}"><button type="button" class="btn btn-outline-danger">Supprimer</button></a><br>

{% endblock %}
