{% extends 'CoreBundle::layout-form.html.twig' %}
{% block title %}Merci !{% endblock %}
{% block main %}
Ce questionnaire a été envoyé. Ponts Études Projets vous en remercie.
<br><br>

<a style="font-size: 13px;" href="#">J'ai envoyé ce questionnaire par erreur</a>
{% endblock %}
