{% extends 'CoreBundle::layout.html.twig' %}

{% block body %}
<h4>Êtes-vous sûr de vouloir supprimer ce jeu de questionnaires ?</h4>
<a href="{{ path('gs_feedback_fbSet_view', {'id': setId}) }}"><button type="button" class="btn btn-outline-primary">Annuler</button></a>
<a href="{{ path('gs_feedback_fbSet_delete', {'setId': setId}) }}"><button type="button" class="btn btn-outline-danger">Supprimer</button></a><br>

{% endblock %}
