<div style='width: 100%;'>
    <div style='margin: 0 auto; max-width: 1000px; min-height: 1000px; background-color: none;'>
    <!-- <div style='position: absolute; margin: 0 auto; max-width: 1000px; min-height: 1000px; background-image: url(https://pbs.twimg.com/profile_images/580072788721008640/YT4GZ0RK.png); background-repeat: no-repeat; background-size: 100%; width: 90%; opacity: 0.1;'></div> -->
    <div style='position: relative; top:0; left:0; margin: 0 auto; max-width: 1000px; min-height: 1000px; background-color: none;'>
        <div style='width: 100%; min-height: 150px; background-color: #404040;'>

                        <div style='display: inline-block; margin-left: 5%; margin-top:25px; margin-bottom:10px; width:100px;'>
                            <img src='https://pbs.twimg.com/profile_images/580072788721008640/YT4GZ0RK.png' height='100px' weight='100px'>
                        </div>
                        <div style='display: inline-block; margin-left: 50px;'>
                            <p style='margin-top: 10px; margin-bottom: 10px; font-family: "verdana"; font-weight: bold; font-style: italic; color: #FFFF; font-size: 55px;'>PEP Recrute</p>
                        </div>
        </div>
        <div style='margin: 0 auto; max-width: 80%;'>
            <table style='background-color: #ffff; margin-top: 50px; width: 100%; border: 3px solid #ffc84d; border-collapse: collapse; font-family: "verdana"; font-weight: bold; font-size: 20px; color: #404040'>
                <tr style='height: 50px; border: 3px solid #ffc84d;'>
                    <td colspan='2' style='padding: 5px;'>
                        <div style='margin: 10px 10px; text-align: center;'>
                            <div id='yellow_dep1' style='display: none; margin: 0 0.5%; width: 70px; height: 70px; border-radius: 50%; font-size: 23px; color: #ffc84d; line-height: 70px; text-align: center; border: 3px solid #ffc84d;'>GCC</div>
                            <div id='gray_dep1' style='display: inline-block; margin: 0 0.5%; width: 70px; height: 70px; border-radius: 50%; font-size: 23px; color: #ededed; line-height: 70px; text-align: center; border: 3px solid #ededed;'>GCC</div>
                            <div id='yellow_dep2' style='display: none; margin: 0 0.5%; width: 70px; height: 70px; border-radius: 50%; font-size: 23px; color: #ffc84d; line-height: 70px; text-align: center; border: 3px solid #ffc84d;'>GMM</div>
                            <div id='gray_dep2' style='display: inline-block; margin: 0 0.5%; width: 70px; height: 70px; border-radius: 50%; font-size: 23px; color: #ededed; line-height: 70px; text-align: center; border: 3px solid #ededed;'>GMM</div>
                            <div id='yellow_dep3' style='display: none; margin: 0 0.5%; width: 70px; height: 70px; border-radius: 50%; font-size: 23px; color: #ffc84d; line-height: 70px; text-align: center; border: 3px solid #ffc84d;'>IMI</div>
                            <div id='gray_dep3' style='display: inline-block; margin: 0 0.5%; width: 70px; height: 70px; border-radius: 50%; font-size: 23px; color: #ededed; line-height: 70px; text-align: center; border: 3px solid #ededed;'>IMI</div>
                            <div id='yellow_dep4' style='display: none; margin: 0 0.5%; width: 70px; height: 70px; border-radius: 50%; font-size: 23px; color: #ffc84d; line-height: 70px; text-align: center; border: 3px solid #ffc84d;'>SEGF</div>
                            <div id='gray_dep4' style='display: inline-block; margin: 0 0.5%; width: 70px; height: 70px; border-radius: 50%; font-size: 23px; color: #ededed; line-height: 70px; text-align: center; border: 3px solid #ededed;'>SEGF</div>
                            <div id='yellow_dep5' style='display: none; margin: 0 0.5%; width: 70px; height: 70px; border-radius: 50%; font-size: 23px; color: #ffc84d; line-height: 70px; text-align: center; border: 3px solid #ffc84d;'>VET</div>
                            <div id='gray_dep5' style='display: inline-block; margin: 0 0.5%; width: 70px; height: 70px; border-radius: 50%; font-size: 23px; color: #ededed; line-height: 70px; text-align: center; border: 3px solid #ededed;'>VET</div>
                            <div id='yellow_dep6' style='display: none; margin: 0 0.5%; width: 70px; height: 70px; border-radius: 50%; font-size: 23px; color: #ffc84d; line-height: 70px; text-align: center; border: 3px solid #ffc84d;'>GI</div>
                            <div id='gray_dep6' style='display: inline-block; margin: 0 0.5%; width: 70px; height: 70px; border-radius: 50%; font-size: 23px; color: #ededed; line-height: 70px; text-align: center; border: 3px solid #ededed;'>GI</div>
                            <div id='yellow_dep0' style='display: none; margin: 0 0.5%; width: 70px; height: 70px; border-radius: 50%; font-size: 23px; color: #ffc84d; line-height: 70px; text-align: center; border: 3px solid #ffc84d;'>1A</div>
                            <div id='gray_dep0' style='display: inline-block; margin: 0 0.5%; width: 70px; height: 70px; border-radius: 50%; font-size: 23px; color: #ededed; line-height: 70px; text-align: center; border: 3px solid #ededed;'>1A</div>
                        </div>


                    </td>
                </tr>
                <tr style='height: 50px; border: 3px solid #ffc84d;'>
                    <td style='padding: 5px; border: 3px solid #ffc84d;'>Etude</td>
                    <td style='padding: 5px; border: 3px solid #ffc84d;'><span id='titleOutput'></span></td>
                </tr>
                <tr style='height: 50px; border: 3px solid #ffc84d;'>
                    <td style='padding: 5px; border: 3px solid #ffc84d;'>Estimation</td>
                    <td style='padding: 5px; border: 3px solid #ffc84d;'><span id='priceOutput'></span></td>
                </tr>
                <tr style='height: 50px; border: 3px solid #ffc84d;'>
                    <td style='padding: 5px; border: 3px solid #ffc84d;'>Client</td>
                    <td style='padding: 5px; border: 3px solid #ffc84d;'><span id='clientOutput'></span></td>
                </tr>
            </table>
        </div>
        <div style='margin-top: 50px; font-family: "verdana";'>
            <span id="detailsOutput"></span>
            <span id="signatureOutput"></span>
        </div>
    </div>
    </div>
</div>
