{#Barre de recherche#}
{#Nécessite qu'on lui donne l'attribut search#}
{#Fonctionne avec un autre template : searchBarScript.html.twig#}
<div class="input-block-level">
    <input class="form-control mr-sm-2 input-block-level" type="search" placeholder="Rechercher" aria-label="Rechercher" id='search' name='search' onkeydown='onKeyDownHandler()' onkeyup='onKeyUpHandler()' value='{{ search }}' autofocus onfocus='this.value = this.value;' autocomplete='off'>
</div>
